<template>
  <h1>Home</h1>
  <div>
    <button @click="count++">
      Count is: {{ count }}
    </button>
  </div>
</template>

<script>
import { ref } from 'vue'

export default {
  setup() {
    const count = ref(0);

    const incrementCount = () => {
      count.value++;
    };

    return {
      count,
      incrementCount
    }
  }
}
</script>