<script>
import { ref, onMounted } from 'vue'
import axios from 'axios'

export default {
  setup() {
    const info = ref(null)
    onMounted(() => {
      axios
          .get('http://localhost:8080/user/' + 4)
          .then(response => {
            info.value = response.data
          })
    })
    return {
      info
    }
  }
}
</script>

<template>
  <div>
    <h1>Api de JAVA</h1>
    <div v-if="info">
      <h2>Bienvenue jeune homme !</h2>
      <p>Matricule : {{ info.id }}</p>
      <p>nom: {{ info.nom }}</p>
      <p>prenom: {{ info.prenom }}</p>
      <p>age: {{ info.age }}</p>
    </div>
  </div>
</template>

<style scoped>

</style>