<script>
import { ref, onMounted } from 'vue'
import axios from 'axios'

export default {
  setup() {
    const count = ref(0)
    const info = ref(null)

    const incrementCount = () => {
      count.value++
    }

    onMounted(() => {
      axios
          .get('https://api.coindesk.com/v1/bpi/currentprice.json')
          .then(response => {
            info.value = response.data
          })
    })

    return {
      count,
      info,
      incrementCount
    }
  }
}
</script>
<template>
  <div>
    <h1>Api Public</h1>
    <div v-if="info">
      <h2>Bitcoin Price Index</h2>
      <p>Updated: {{ info.time.updated }}</p>
      <p>USD: {{ info.bpi.USD.rate }}</p>
      <p>GBP: {{ info.bpi.GBP.rate }}</p>
      <p>EUR: {{ info.bpi.EUR.rate }}</p>
    </div>
  </div>
</template>

