<template>
  <h1>My first Vue JS application</h1>
  <nav>
    <a href="#/">Home</a> |
    <a href="#/about">About</a> |
    <a href="#/non-existent-path">Broken Link</a> |
    <a href="#/public-api">Public api</a> |
    <a href="#/private-api">Private api</a>
  </nav>
  <component :is="currentView" />
</template>

<script setup>
import { currentView } from './router/index.js'
</script>

<style scoped>
nav a {
  margin: 0 10px;
}
</style>